---
layout: default
title: Home
---


        <div class="repos">

            <p>
                This site catalogs a number of add-ons to <a href="http://isis.apache.org">Apache Isis</a> for you to use
                either "out of the box", or as a starting point to modify and adapt
                to your own requirements.  Each add-on has its own repo.  All add-ons use the <code>org.isisaddons</code> package.
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for repo in site.github.public_repositories %}
                    {% if repo.fork == false %}
                    {% if repo.name contains '-module-' %}

                    <tr>
                        <td>
                            <a href="{{repo.html_url}}" target="_blank">{{ repo.name }}</a>
                            {% if repo.name contains 'servletapi' %}
                            <br/>
                            <span class="WIP">WIP</span>
                            {% endif %}
                        </td>
                        <td>
                            {{repo.description}}
                        </td>
                    </tr>
                    
                    {% endif %}
                    {% endfor %}




                    {% for repo in site.github.public_repositories %}
                    {% if repo.fork == false %}
                    {% if repo.name contains '-wicket-' %}

                    {% assign repo_example = false %}

                    <tr>
                        <td>
                            <a href="{{repo.html_url}}" target="_blank">{{ repo.name }}</a>
                            {% if repo.name contains 'fullcalendar2' or repo.name contains 'gmap3' or repo.name contains 'wickedcharts' or repo.name contains 'wizard' %}
                            <br/>
                            <span class="WIP">WIP</span>
                            {% endif %}
                        </td>
                        <td>
                            {{repo.description}}
                        </td>

                        </tr>
                    
                    {% endif %}
                    {% endif %}
                    {% endfor %}


                </tbody>
            </table>

            <p class="WIP">'WIP' indicates the add-on is still work-in-progress and hasn't yet been released.</p>

        </div>

            <h3>"Out-of-the-box"</h3>
            <p>
                All add-ons are released as a Maven artifact into the 
                <a href="http://search.maven.org">Maven central repo</a>; just add the relevant dependencies to your 
                project <code>pom.xml</code>, and (where required) register new domain services in Isis' 
                <code>isis.properties</code> configuration files.  The README for each add-on contains full details 
                on how to do this.
            </p>
            

            <h3>Forking the add-on</h3>
            <p>
                Alternatively, if you do need to modify/adapt the provided functionality, then fork the entire repo.
                This way you also have fixtures and tests to ensure that your changes are properly tested.
            </p>
            <p>
                The <code>isis-module-xxx</code> add-ons have the following structure:
            </p>
            <ul>
                <li><code>dom</code> - domain object module</li>
                <li><code>fixture</code> - fixtures</li>
                <li><code>integtests</code> - integration tests</li>
                <li><code>webapp</code> - webapp to run</li>
            </ul>
            <p>
                The <code>isis-wicket-xxx</code> add-ons have the structure:
            </p>
            <ul>
                <li><code>cpt</code> - component module</li>
                <li><code>fixture</code> - fixtures</li>
                <li><code>webapp</code> - webapp to run, and webapp (UI) tests</li>
            </ul>
            <p>
                Only the <code>dom</code> (for module add-ons) or <code>cpt</code> (for wicket add-ons) are released 
                the <a href="http://search.maven.org">Maven central repo</a>.
            </p>

            <h3>Contributing back</h3>
            <p>
                If you fork an add-on and think others would benefit from your changes, please raise a pull request so
                that we can review and fold those changes back into the original.
            </p>

            <h3>Also of interest...</h3>
            <p>
                There are also a number of other repos which may nevertheless be of interest to developers building apps with Apache Isis.
            </p>
            
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>

                {% for repo in site.github.public_repositories %}
                {% if repo.fork == true or  repo.name contains '-app-' or repo.name == 'template' %}

                    <tr>
                        <td>
                            <a href="{{repo.html_url}}" target="_blank">{{ repo.name }}</a>
                        </td>
                        <td>
                            {{repo.description}}
                        </td>
                    </tr>
                    
                {% endif %}
                {% endfor %}

                </tbody>
            </table>
