---
layout: default
title: Home
---


<h3>Domain Modules:</h3>
<ul>
    {% for repo in site.github.public_repositories %}
        {% if repo.fork == false %}
            {% if repo.name contains '-module-' or repo.name contains '-domainservice-' %}
                {% unless repo.name contains '-example' %}

                    {% assign repo_example = false %}
                
                    <li>
                        <a href="{{repo.html_url}}">{{ repo.name }}</a>

                        {% for candidate_repo in site.github.public_repositories %}
                            {% if candidate_repo.name contains repo.name and candidate_repo.name contains '-example' %}
                                {% assign repo_example = candidate_repo %}
                            {% endif %}
                        {% endfor %}

                        {% if repo_example %}
                            &nbsp;&nbsp;(<a href="{{repo_example.html_url}}">{{ repo_example.name }}</a>)
                        {% endif %}
                    </li> 
            
                {% endunless %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>

<h3>Wicket Viewer Extensions:</h3>
<ul>
    {% for repo in site.github.public_repositories %}
        {% if repo.fork == false %}
            {% if repo.name contains '-wicket-' %}
                {% unless repo.name contains '-example' %}
            
                    {% assign repo_example = false %}

                    <li>
                        <a href="{{repo.html_url}}">{{ repo.name }}</a>

                        {% for candidate_repo in site.github.public_repositories %}
                            {% if candidate_repo.name contains repo.name and candidate_repo.name contains '-example' %}
                                {% assign repo_example = candidate_repo %}
                            {% endif %}
                        {% endfor %}

                        {% if repo_example %}
                            &nbsp;&nbsp;(<a href="{{repo_example.html_url}}">{{ repo_example.name }}</a>)
                        {% endif %}
                    </li> 
            
                {% endunless %}
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>



<h3>Forked repos:</h3>
<ul>
    {% for repo in site.github.public_repositories %}
        {% if repo.fork == true %}
            <li><a href="{{repo.html_url}}">{{ repo.name }}</li></a>
        {% endif %}
    {% endfor %}
</ul>
