    <header>
    
        <a class="site-logo"
           href="{{ site.github.owner_url }}">
           <img src="{{ site.github.owner_gravatar_url }}" width=100 height=100/>
        </a>

        <p class="site-title"> {{ site.title }} </p>

        <p class="clear">
        
        <p class="site-tagline"> {{ site.tagline }}</p>

        <p class="view"><a href="{{ site.github.owner_url }}">View on GitHub</a></p>

        <div class="repos">

            <h3>Domain Modules:</h3>
            <ul>
                {% for repo in site.github.public_repositories %}
                {% if repo.fork == false %}
                {% if repo.name contains '-module-' or repo.name contains '-domainservice-' %}
                {% unless repo.name contains '-audit' or repo.name contains '-command' or repo.name contains '-devutils' or repo.name contains '-publishing' or repo.name contains '-settings'  %}

                <li>
                    <a href="{{repo.html_url}}">{{ repo.name }}</a>

                    {% if repo.name contains 'isis-module-audit' %}
                    &nbsp;&nbsp;(to do)
                    {% endif %}
                    {% if repo.name contains 'isis-module-command' %}
                    &nbsp;&nbsp;(to do)
                    {% endif %}
                    {% if repo.name contains 'isis-module-devutils' %}
                    &nbsp;&nbsp;(to do)
                    {% endif %}
                    {% if repo.name contains 'isis-module-docx' %}
                    &nbsp;&nbsp;
                    {% endif %}
                    {% if repo.name contains 'isis-module-excel' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}
                    {% if repo.name contains 'isis-module-publishing' %}
                    &nbsp;&nbsp;(to do)
                    {% endif %}
                    {% if repo.name contains 'isis-module-scheduler' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}
                    {% if repo.name contains 'isis-module-settings' %}
                    &nbsp;&nbsp;(to do)
                    {% endif %}
                    {% if repo.name contains 'isis-module-stringinterpolator' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}
                </li>

                    
                {% endunless %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            <h3>Wicket Viewer Extensions:</h3>
            <ul>
                {% for repo in site.github.public_repositories %}
                {% if repo.fork == false %}
                {% if repo.name contains '-wicket-' %}

                {% assign repo_example = false %}

                <li>
                    <a href="{{repo.html_url}}">{{ repo.name }}</a>

                    {% if repo.name contains 'isis-wicket-excel' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-fullcalendar2' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-gmap3' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-wickedcharts' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-wizard' %}
                    &nbsp;&nbsp;(to refactor)
                    {% endif %}

                </li>

                
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>



            <h3>Forked repos:</h3>
            <ul>
                {% for repo in site.github.public_repositories %}
                {% if repo.fork == true %}
                <li><a href="{{repo.html_url}}">{{ repo.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>

        </div>

    </header>

