    <header>
    
        <a class="site-logo"
           href="{{ site.github.owner_url }}">
           <img src="{{ site.github.owner_gravatar_url }}" width=100 height=100/>
        </a>

        <p class="site-title"> {{ site.title }} </p>

        <p class="clear">
        
        <p class="site-tagline"> {{ site.tagline }}</p>

        <div class="repos">

            <h3>Domain Modules:</h3>
            <ul>
                {% for repo in site.github.public_repositories %}
                {% if repo.fork == false %}
                {% if repo.name contains '-module-' %}
                
                {% unless repo.name contains 'devutils' or repo.name contains 'excel' or repo.name contains 'publishing' or repo.name contains 'scheduler' or repo.name contains 'settings' or repo.name contains 'stringinterpolator' or repo.name contains 'tags' %}

                {% unless repo.name contains 'XXX' %}

                <li>
                    <a href="{{repo.html_url}}">{{ repo.name }}</a>
                </li>

                    
                {% endunless %}
                {% endunless %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            <h3>Domain Modules: <span class="WIP">(WIP)</span></h3>
            <ul>
                {% for repo in site.github.public_repositories %}
                {% if repo.fork == false %}
                {% if repo.name contains '-module-' %}
                
                {% if repo.name contains 'devutils' or repo.name contains 'excel' or repo.name contains 'publishing' or repo.name contains 'scheduler' or repo.name contains 'settings' or repo.name contains 'stringinterpolator' or repo.name contains 'tags' %}
                
                {% unless repo.name contains 'XXX' %}

                
                <li>
                    <a href="{{repo.html_url}}">{{ repo.name }}</a>

                    {% if repo.name contains 'isis-module-devutils' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-module-excel' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-module-publishing' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-module-scheduler' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-module-settings' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-module-stringinterpolator' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-module-tags' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                </li>

                    
                {% endunless %}
                {% endif %}
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            <h3>Wicket Viewer Extensions:</h3>
            <ul>
                {% for repo in site.github.public_repositories %}
                {% if repo.fork == false %}
                {% if repo.name contains '-wicket-' %}

                {% assign repo_example = false %}

                <li>
                    <a href="{{repo.html_url}}">{{ repo.name }}</a>

                    {% if repo.name contains 'isis-wicket-excel' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-fullcalendar2' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-gmap3' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-wickedcharts' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}
                    {% if repo.name contains 'isis-wicket-wizard' %}
                    &nbsp;&nbsp;<span class="WIP">(WIP)</span>
                    {% endif %}

                </li>

                
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>

            <h3>Forked repos:</h3>
            <ul>
                {% for repo in site.github.public_repositories %}
                {% if repo.fork == true %}
                <li><a href="{{repo.html_url}}">{{ repo.name }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>

            <p class="WIP">'WIP' indicates the add-on is still work-in-progress and hasn't yet been released.</p>

        </div>

    </header>

