    <header>
    
        <a class="site-logo"
           href="{{ site.github.owner_url }}">
           <img src="{{ site.github.owner_gravatar_url }}" width=100 height=100/>
        </a>

        <p class="site-title"> {{ site.title }} </p>

        <p class="clear">
        
        <p class="site-tagline"> {{ site.tagline }}</p>

        
        <div class="home">

            <p>Each add-on is hosted in its own github repo:
            </p>
            <ul>
                <li><code>isis-app-xxx</code> : an example application to learn from/try out</li>
                <li><code>isis-module-xxx</code> : a &quot;module&quot; for a particular subdomain, eg security.</li>
                <li><code>isis-metamodel-xxx</code> : an extension to Isis metamodel, eg Java 8 parameter names.</li>
                <li><code>isis-wicket-yyy</code> : a component for Isis' Wicket viewer, eg maps.</li>
            </ul>

            <p>Do note that the add-ons are not part of ASF, but <i>are</i> maintained by the <a href="http://isis.apache.org">Apache Isis</a> committers.</p>

            <h3>Screenshots and READMEs</h3>
            <p>
                Each add-on has its own <code>README</code> that includes screenshots, API, usage and configuration instructions.
                Some add-ons also have wiki pages (linked from the <code>README</code>).
            </p>

            <h3>Ready to use, "out-of-the-box"</h3>
            <p>
                All add-ons are released to Maven central repo so that you can use them out-of-the-box.
            </p>

            <h3>Ready to fork</h3>
            <p>
                Alternatively, you can fork the entire repo.  All repos follow a standard structure, with a demo webapp 
                and tests, so you can start from a solid base.
            </p>

        </div>
        
        
    </header>

