h3 {
  margin:0 0 5px;
}

.home ul {
  margin-top: -10px;
  padding-left: 20px;
    margin-bottom: 5px;
}

.home ul li {
  padding-bottom: 10px;
}

.WIP {
  font-size: smaller;
  color: red;
}

.footer {
  color: red;
}
