<!doctype html>
<html>

  {% include head.html %}

<body>
<div class="wrapper">

    {% include body-header.html %}

    <section>
        <h3>
            <a name="welcome-to-apache-isis-addons" 
               class="anchor" 
               href="#welcome-to-apache-isis-addons">
               <span class="octicon octicon-link"></span>
           </a>
           Welcome to {{ site.title }}.
       </h3>

        {{ content }}

    </section>

    {% include body-footer.html %}

</div>
<script src="javascripts/scale.fix.js"></script>

<script type="text/javascript">


</script>

</body>
</html>